/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
  

/* #Page Styles
================================================== */


/*  Header / Navigation / Footer
================================================== */
	
nav {
	font-size: 1em;
	background-color: #fff;
	position: fixed;
	width: 22.9166667%;
	height: 100%;
	z-index: 100;
	}

nav h5 {
	line-height: 35px;	
}

nav hr {
	width: 25%;
}

nav ul {
	margin-bottom: 30px;
	}

.logo {
	margin:40px 0 20px -36px;
	}	

.left-nav {
	padding-left: 05.2083333%;
	padding-right: 20px;
}

.tag {
	font-size: .75em;
	color: #abadae;
}


footer {
	background-color: #eaeaea;
	padding: 20px 5% 30px 5%;
	text-align: left;
}

footer p {
	font-size: .875em;
}
	
footer hr { border: solid #CCC 1px;
 }

.footer-bottom {
position: fixed;
bottom:0;
left: 0;
 }
		

/* Home Page Content
================================================== */

.color {
	background: #eaeaea;
  	text-align:center;
	padding: 0; }	
	
.home-page {
	float: right;
}

.home-page img {
padding: 50px 0px 50px 0;
margin: 0 25% 0 25% 0;
width: 70%;
position: absolute;
right: 0;
}
	
/* Adding the triangle 
===========================================================*/

#down-triangle { 
   margin: -20px 52.5% 50px 47.5%;
   width: 0; 
   height: 0;
   border-top: 25px solid #fff;
   border-left: 35px solid transparent; 
   border-right: 35px solid transparent; 
}



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		
		
		}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
				
		.hero {	
			background-image: url(../img/groupBG_tablet.jpg);
			background-repeat:no-repeat;
			background-position:top;
		}
		
		
		}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		.hero {	
			background-image:url(../img/groupBG_tablet.jpg);
			background-repeat:no-repeat;
			background-position:top;
		}
		
		.top {
			background: rgba(255, 255, 255, 0.9);
			
		}
		
		.main {
			margin-left: 15%;
		}
		
		
		.left-nav { 
			text-align:center;
			font-size: 22px;
			line-height: 100px;
		}
		
		
		.left-nav li {
			padding: 15px inherit 15px inherit;
			
		}	
		
		
		#down-triangle { 
  			margin: 0 65% 50px 35%;

		}
		
		
		
		
		
		
		}


/* Gallery Pages
================================================== */

.project {
width: 72.9166667%;
height: auto;
position: absolute;
right: 0;
background-color: #D0D8E2;
}

.project img {
padding: 50px 0 50px 0;
width: 90%;
}

.description {
background-color:rgba(255,255,255,0.9);
margin: 50px 0 50px 0;
padding: 50px 1.5625% 50px 1.5625%;
}
	
#content-left {
float: left;
padding-left: 3.125%;
padding-right: 1.5625%;

}

#content-right {
float: right;
}

#content-right hr {

	width: 25%;
}

.add-space-after {
	padding-bottom: 10px;
}

#image-separator {
	border-bottom: 1px solid #ffffff;
}



/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/

@font-face {
	    font-family: 'Amaranth-Bold';
	    src: url('../fonts/Amaranth-Bold.ttf') format('truetype');
	    font-weight: bold;
	    font-style: bold; }
		
@font-face {
	    font-family: 'OpenSans-Regular';
	    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	    font-weight: normal;
	    font-style: normal; }


@font-face {
	    font-family: 'OpenSans-Light';
	    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	    font-weight: lighter;
	    font-style: lighter; }

