
/* Outside of containter
===========================================================*/
.all-content {
  background-color: rgba(255, 255, 255, 1);

}


/* Left Content
===========================================================*/

#left-content {
    position:fixed;
    top:0;
}

.fixed-left-content{
    position:absolute !important;
    margin-top:0px;
    bottom: auto !important;
    float: left;
    height: 72%
}


nav {
	font-size: 1.5rem;
	}

nav h5 {
  font-size: 2rem;
  line-height: 2rem;

}

nav hr {
  border: solid #CCC 1px;
	width: 25%;
  margin: 0 0 4rem 0;
}

nav ul {
	margin-bottom: 30px;
	}

.logo {
	margin:40px 0 20px -36px;
	}

.left-nav {
  padding: 0 2rem 5rem 05.2083333%;
  background-color:rgba(255, 255, 255, .75);
}

nav li {
  margin-bottom: 1.25rem;
}

.tag {
	font-size: 1.3rem;
	color: rgba(210, 210, 210, 1);;
  margin: 0;
  padding-top: .2rem;
}


/* Right Content (Home page)
===========================================================*/

.right-content {
  float: right;
}

.home-page img {
  width: 100%;
}





/* Right Content (projects) */
==========================================================*/

.project {
width: 72.9166667%;
height: auto;
position: absolute;
right: 0;
background-color: #D0D8E2;
}

.project img {
padding: 50px 0 50px 0;
width: 90%;
}

.description {
background-color:rgba(255,255,255,0.9);
margin: 50px 0 50px 0;
padding: 50px 1.5625% 50px 1.5625%;
}

#content-left {
float: left;
padding-left: 3.125%;
padding-right: 1.5625%;

}

#content-right {
float: right;
}

#content-right hr {
	width: 25%;
}

.add-space-after {
	padding-bottom: 10px;
}

#image-separator {
	border-bottom: 1px solid #ffffff;
}

#project-title {
  margin-bottom: 6px;
}

#project-company {
  margin-bottom: 1.5em;
}



/* Footer
===========================================================*/

#footer {
  background-color: rgba(240, 240, 240, 1);
  clear: both;
  padding: 0 8%;
}

footer p {
	font-size: 1rem;
  padding-top: -2rem;
}

footer hr {
  border: solid #CCC 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
 }

#aboutme {
  text-align: center;
  margin: 0 10%;
  height: 300px;
}

#aboutme p {
    font-size: 1.6rem;
}

/* Adding the triangle */

#down-triangle {
   margin: 0px 52.5% 50px 47.5%;
   width: 0;
   height: 0;
   border-top: 25px solid #fff;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
}
