@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* General styles and layout */
section {
  position: relative;
  padding: 10em;
  background: white; }

.color {
  background: #eaeaea; }

/*** Individual section styles and separators ***/
/* Common style for pseudo-elements */
section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none; }

/* Triangles */
.ss-style-triangles::before,
.ss-style-triangles::after {
  left: 50%;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg); }

.ss-style-triangles::after {
  bottom: -50px;
  z-index: 10;
  background: inherit; }

/* Media Queries for the layout */
@media screen and (max-width: 68em) {
  section {
    font-size: 80%; } }
@media screen and (max-width: 54em) {
  .column {
    display: block;
    width: 100% !important; }

  .text:first-child,
  .text:nth-child(2) {
    text-align: center; }

  .icon {
    margin: 0 auto; }

  .col-2 .column:first-child .icon {
    margin: 0 auto 50px; }

  .col-2 .column:nth-child(2) .icon {
    margin: 50px auto 0; } }
