
/* Outside of containter
===========================================================*/
.all-content {
  background-color: rgba(210, 205, 155, 1);

}


/* Left Content
===========================================================*/

#left-content {
    position:fixed;
    top:0;
}

.fixed-left-content{
    position:absolute !important;
    margin-top:0px;
    bottom: auto !important;
    float: left;
    height: 100%;
    width: 30.6666666667%;
}


nav {
	font-size: 1.5rem;
	}

nav h5 {
  font-size: 2rem;
  line-height: 2rem;

}

nav hr {
  border: solid #CCC 1px;
	width: 25%;
  margin: 0 0 2rem 0;
}

nav ul {
  margin-top: 1rem;
	margin-bottom: 2.5rem;
	}

.logo {
	margin:40px 0 20px -36px;
	}

.left-nav {
  padding: 0 2rem 5rem 05.2083333%;
  background-color:rgba(255, 255, 255, 1);
}

.tag {
	font-size: 1.3rem;
	color: rgba(210, 210, 210, 1);;
  margin: 0;
  padding-top: .2rem;
}


/* Right Content (Home page)
===========================================================*/

.home-page img {
  width: 100%;
}





/* Right Content (projects) */
==========================================================*/

.project {
background-color: #ffffff;
}

.project img {
padding: 5rem 0;
width: 90%;
}

.description {
background-color:rgba(255, 255, 255, 0.85);
margin: 5rem 0;
padding: 3rem 1.5625%;
}

#project-title {
  margin-bottom: 0;
}

#project-company {
  margin-bottom: 4rem;
}

#project-details-left {
float: left;
padding-left: 3.125%;
padding-right: 1.5625%;
margin-left: 0;

}

#project-details-right {
float: right;
}

#project-details-right hr {
	width: 25%;
}

.add-space-after {
	padding-bottom: 1rem;
}

#image-separator {
	border-bottom: 1px solid #ffffff;
}

hr.top {
    margin-top: 0;}




/* Footer
===========================================================*/

#footer {
  background-color: rgba(240, 240, 240, 1);
  clear: both;
  padding: 0 8%;
}

footer p {
	font-size: 1rem;
  padding-top: -2rem;
}

footer hr {
  border: solid #CCC 1px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
 }

#aboutme {
  text-align: center;
  margin: 0 10%;
  height: 300px;
}

#aboutme p {
    font-size: 1.6rem;
}

#copyright {
  height: 8rem;
}

/* Adding the triangle */

#down-triangle {
   margin: 0px 52.5% 50px 47.5%;
   width: 0;
   height: 0;
   border-top: 25px solid #fff;
   border-left: 25px solid transparent;
   border-right: 25px solid transparent;
}
